.vw-off-canvas {

  &-bar {
    position: fixed;
    top: 0;
    padding-top: 100px;
    bottom: 0;
    width: @vw-off-canvas-width;
    z-index: 1;
    background-color: @vw-color-lighter;
    overflow-x: hidden;
    transition: transform 0.4s;

  }

  &-overlay {
    height: 0;
    opacity: 0;
    transition: opacity 0.6s, height 0s;
    background-color: @vw-color-darkest;
  }

  &-bar-userOffCanvas {
    right: -@vw-off-canvas-width;
  }

  &-bar-offCanvasMenu{
    left: -@vw-off-canvas-width;
  }

}

//
// Active Bars
//
// MENU
.vw-off-canvas-open-offCanvasMenu{
  .vw-off-canvas-bar-offCanvasMenu{
    transform: translateX(100%);
  }
  .vw-site-container {
    transform: translateX(@vw-off-canvas-width);
    opacity: 0.6
  }
}
// USER - REG
.vw-off-canvas-open-userOffCanvas{
  .vw-off-canvas-bar-userOffCanvas {
    transform: translateX(-100%);
  }
  .vw-site-container {
    transform: translateX(-@vw-off-canvas-width);
    opacity: 0.6
  }
}

//
// Global
//
.vw-off-canvas-open-offCanvasMenu,
.vw-off-canvas-open-userOffCanvas{

  /*overflow: hidden;*/

  .vw-off-canvas-overlay {
    transition: height 0s, opacity 0.6s;
    height: 100%;
    opacity: 0.6;
  }
  .vw-site-container {
    opacity: 0.6
  }
}

main {
  overflow: hidden;
}

.vw-site-container {
  transform: translateX(0);
  transition: transform 0.4s;
  display: block !important;
}

@media ( min-width: @vw-breakpoint-medium ) {

  @vw-off-canvas-width: 50%;

  .vw-off-canvas-bar-userOffCanvas {
    width: @vw-off-canvas-width;
    right: -@vw-off-canvas-width;
  }

  .vw-off-canvas-bar-offCanvasMenu{
    width: @vw-off-canvas-width;
    left: -@vw-off-canvas-width;
  }

  .vw-off-canvas-open-offCanvasMenu{
    .vw-site-container {
      transform: translateX(@vw-off-canvas-width);
    }
  }
  // USER - REG
  .vw-off-canvas-open-userOffCanvas{
    .vw-site-container {
      transform: translateX(-@vw-off-canvas-width);
    }
  }

}